 /* .container{
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 200px;
 } */

 .container-card{
    justify-items: center;
    margin-top: 60px;
    margin-left: 60px;
    margin: auto;
    width: 100%;
    max-height: 15vh;
 }

 .container-nav{
   padding-top: 20px;
   height: 5vh;
   width: 100%;
   border-bottom: 1px solid gray;
 }
 
 .container-nav button{
  float: right;
  text-decoration: none;
  background-image: url("nav_bg.png") !important;
  background-position: top;
  background-size: cover;
 }

 /* .container {
  width: 300px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  justify-content: center;
} 
*/
.container h3 {
  text-align: center;
}

.form-container {
  width: 100%;
}

.form-container label {
  font-weight: bold;
}

.form-container p {
  margin-top: 10px;
  text-align: center;
}

.form-container p a {
  margin-left: 5px;
}
.see_more{
  float: right;
  display: block;
}
.skeleton *{
  width: "150px";
  height: '200px';
}

.watchlist * {
  margin-left: 8px;
  float: right;
}